# Environment Config and Secrets
.env
*.pem
__pycache__/
*.pyc
*.sqlite3
backend/*.pem

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Test Artifacts
*.test

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flask Session Files
/tmp/flask_sessions/

# Dev-specific scripts
backend/generate_dbdiagram.py
backend/generate_passwords.py