# Flask framework
Flask
Flask-Cors
Flask-SQLAlchemy
Flask-Session

# Gunicorn
gunicorn

# PostgreSQL
psycopg2-binary
SQLAlchemy

# Environment variable loading
python-dotenv

# Date/timezone handling
pytz


Flask-Migrate>=4.0.4
 